.card-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  margin: 8px auto;
  height: 270px;
  box-shadow: 0 0 5px 1px #0000006e;
  border-radius: 5px;
  background-color: #9AC5C5
}

.location {
  font-weight: 600;
  margin-bottom: 18px;
  font-size: 17px;
  color: #FFF;
}

.year-and-data-below {
  color: #FFF7B2;
}

.year-and-data-above {
  color: #009E9E;
}