.compare-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-flow: row;
  background: #FFFACDD9;
  margin: 0 auto;
}

.card-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 220px;
  margin: 8px auto;
  height: 270px;
  box-shadow: 0 0 5px 1px #0000006e;
  border-radius: 5px;
  background-color: #9AC5C5
}